.logo {
    color: var(--black-color);

    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;

    span {
        color: var(--main-color)
    }
}