.comic {
    padding: 50px 0;

    &__wrapper {
        display: flex;
        align-items: flex-start;
    }

    &__img {
        aspect-ratio: 293/ 450;
        width: 293px;
        height: auto;
        object-fit: cover;
        flex-shrink: 0;
    }

    &__content {
        width: 550px;
        margin-left: 50px;
    }

    &__title {
        color: #000;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__descr {
        margin-top: 25px;
        // width: 550px;
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__pages,
    &__lang {
        margin-top: 25px;
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__price {
        margin-top: 25px;
        color: var(--main-color);
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__button-back {
        margin-left: auto;
        flex-shrink: 0;

        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        background: unset;
        border: unset;

        cursor: pointer;
    }

}

@media (max-width: 1200px) {
    .comic {
        &__content {
            width: 500px;
        }
    }
}

@media (max-width: 992px) {
    .comic {
        &__img {
            width: 240px;
        }

        &__content {
            width: unset;
            margin-left: 20px;
        }

        &__button-back {
            display: none;
        }
    }
}

@media (max-width:576px) {
    .comic {
        &__wrapper {
            flex-direction: column;
        }

        &__content {
            margin-top: 40px;
            margin-left: unset;
        }
    }
}